<h2 class="mui--text-center">
  <strong>How Much is Buying This Thing Going to Delay My Retirement?</strong>
</h2>

<h3>
  The Old Way: How Many Hot ‘n Spicy McChickens<a href="#footnotes">*</a>
  is This Gonna Cost Me?
</h3>

<div class="text">
  <img class="floated-image" height="175" src="https://i.imgur.com/4AW1ZGk.jpg" width="262">
  Whenever I see something shiny and fun that I want to buy, I try to figure out a way to make the
  cost more tangible so I can determine whether or not it’s worth it. In high school and college I
  used to think of the opportunity cost in terms of the other things I would likely buy with the
  money instead. For instance, how many Chipotle burritos is this diamond ring going to cost me?
  125? That’s a lot of burritos... maybe I’d rather have the burritos instead of getting married.
</div>

<div class="text">
  After I graduated and got a real job that paid me more money than I was comfortable with spending,
  I started investing any money that I didn’t spend each month. I’ve been able to start putting
  money toward my retirement accounts as well as make some investments into taxable accounts for
  shorter term goals.
</div>

<div class="text">
  Pretty great, huh? Sure… but this completely ruined my previous opportunity cost strategy. If I
  didn’t buy an object of my desire, neglecting the purchase didn’t equate to losing X burritos,
  instead it just came out of the money that I would have invested at the end of the month. Whatever
  dude…
</div>

<div class="text">
  But wait, isn’t that a huge deal?? If invested money grows steadily over time and I have a fairly
  long time horizon, I could be losing out on
  <strong>way more</strong>
  than a few burritos just by buying this thing. Like fancy cars or mansions or the opportunity to
  help my (hopefully) future kids through college. Is that slice of pizza really worth not being
  able to hire a professional chef for the last 30 years of my life? Nah bro.
</div>

<div class="text">
  Time for a new strategy. Instead of things, let's focus on time. Time to retirement, to be
  specific. After “retirement”, I can spend the rest of my life tinkering with pet projects,
  building Hogwarts in Minecraft, or doing whatever I feel like I want to do, gosh. So that’s the
  million dollar question: If instead of buying this thing, I invest the money, how much earlier can
  I retire?
</div>

<h3>The New Way: Middle School Math</h3>

<div class="text">
  <a
      href="http://www.mrmoneymustache.com/2012/05/29/how-much-do-i-need-for-retirement/"
      target="_blank"
  >
    How much money do you need to retire?
  </a>
  Here is one simple way to think about it:
</div>

<div class="text">
  We’ll define “retirement” as the moment you acquire enough wealth to live off of interest from
  your investments forever. That means you make all the money you need to spend, without working
  yourself by getting your money to work for you. It won’t matter if you live for 6 more years or
  600 more years.
</div>

<div class="text">
  To calculate how much wealth you need to accumulate, with some assumptions, it only takes two
  steps:
  <ol>
    <li>
      Determine your annual expenses (food, rent/mortgage, fun things, child care, etc…). One
      assumption is that you will continue to spend this much every year in retirement.
    </li>
    <li>
      Multiply the number you calculated in (1) by 25. This is a guideline for how much you need to
      retire.
    </li>
  </ol>
</div>

<div class="text">
  That’s it. If you spend $40,000 per year you should save $1,000,000 before retiring.
</div>

<div class="text">
  Woah, what about inflation and stuff? Where did that “25” number come from? The 25 assumes that
  the market will grow at 7% percent per year (over the long term), and the dollar will inflate at a
  rate of 3% per year (again, over the long term). That means that you can expect to withdraw 4% of
  your nest egg each year while maintaining the balance of your account.
</div>
<div class="text">
  If you spend $35,000 (2017 dollars) per year, you need $875,000 (2017 dollars) to retire. You can
  withdraw $35,000 (2017 dollars), or 4% of the $875,000, per year and expect that you will accrue
  interest/dividends/capital gains fast enough that this account will replenish itself indefinitely.
  In other words, the value of the account,
  <strong>on average</strong>
  <a href="#footnotes">**</a>
  , will never decrease over time.
</div>

<div class="text no-bottom-margin">
  In case you’d like to see how expected return on investments affects the calculations, feel free
  to adjust the sliders in the assumptions accordion. Here are some common investment options:
</div>

<table class="table table-centered offset-text-margin">
  <thead>
    <tr class="mat-header-row">
      <td class="mat-header-cell">Investment</td>
      <td class="mat-header-cell">
        Estimated ROI
        <a href="#footnotes">***</a>
      </td>
      <td class="mat-header-cell">Sources</td>
    </tr>
  </thead>
  <tbody>
    <tr class="mat-row">
      <td class="mat-cell">Cash</td>
      <td class="mat-cell">0%</td>
      <td class="mat-cell"></td>
    </tr>
    <tr class="mat-row">
      <td class="mat-cell">Checking Account</td>
      <td class="mat-cell">0.06%</td>
      <td class="mat-cell"></td>
    </tr>
    <tr class="mat-row">
      <td class="mat-cell">High-Yield Savings Account</td>
      <td class="mat-cell">1.3%</td>
      <td class="mat-cell">
        <a href="https://www.nerdwallet.com/banking/best-savings-accounts" target="_blank">
          NerdWallet
        </a>
      </td>
    </tr>
    <tr class="mat-row">
      <td class="mat-cell">Long Term Bonds</td>
      <td class="mat-cell">3-5%</td>
      <td class="mat-cell">
        <a href="https://www.thebalance.com/good-rate-roi-357326" target="_blank">The Balance</a>
        <br>
        <a
            href="http://money.cnn.com/retirement/guide/investing_bonds.moneymag/index3.htm"
            target="_blank"
        >
          CNN Money
        </a>
      </td>
    </tr>
    <tr class="mat-row">
      <td class="mat-cell">Long Term Stocks</td>
      <td class="mat-cell">7%</td>
      <td class="mat-cell">
        <a
            href="https://www.thesimpledollar.com/where-does-7-come-from-when-it-comes-to-long-term-stock-returns/"
            target="_blank"
        >
          The Simple Dollar
        </a>
      </td>
    </tr>
    <tr class="mat-row">
      <td class="mat-cell">Long Term Stocks - Optimistic Market</td>
      <td class="mat-cell">12%</td>
      <td class="mat-cell">
        <a href="https://www.daveramsey.com/blog/the-12-reality" target="_blank">Dave Ramsey</a>
      </td>
    </tr>
  </tbody>
</table>

<div class="text">
  You might notice that long-term, government bonds barely keep up with inflation. And keeping your
  money in a savings account generally means that you are effectively losing money to inflation
  (even though the dollar amount continues to rise, things become more expensive so you can actually
  buy less)... so you’ll never retire. When you consider investing in the stock market as a whole
  (index funds, ETFs), over long time horizons, it’s a lot less risky than it might seem.
</div>


<div class="mui-container calculator" id="calculator">
  <h2>The Retirement Calculator</h2>
  <div class="text">Curious how your situation stacks up? Use the handy dandy calculator!</div>
  <calculator></calculator>
</div>

<div class="mui-container footnotes" id="footnotes">
  <div class="text">
    * Late one night in New Hampshire I just got off of a flight from Denver and was starving. I
    busted into the closest McDonald's I could find and boldly declared "Two Hot 'n Spicys,
    please!". The very Bostonian man behind the counter looked up at me, perplexed, and said "Two
    what?". "Hot n Spicys?" I said, much less confidently. I looked up at the menu and to my horror,
    in the place of the Hot n' Spicy on the Dollar Menu was just the word "McChicken". "Ummm... two
    McChickens". So I ate the two bland chicken sandwiches.. meh. I learned later that the Hot n’
    Spicy McChicken is a regional delicacy those who don't live in certain parts of the south and
    southwestern United States will have to travel to appreciate.
    <a
        href="http://animmovablefeast.blogspot.com/2012/04/fast-food-review-mcdonalds-hot-n-spicy.html"
        target="_blank"
    >
      This
    </a>
    is what you're missing out on.
  </div>

  <div class="text">
    ** Over a long period of time. The stock market obviously has some ups and downs. This method
    assumes that in tough times, you are willing to spend a little less than 4%, or even work
    part-time, to make up any difference if necessary.
  </div>
  <div class="text">
    *** Based on past performance. Past performance does not guarantee future performance.
  </div>
</div>
