<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>

<div><h1>Inputs</h1></div>
<mat-form-field class="inputFormField" [floatPlaceholder]="always">
    <span matPrefix>$</span>
    <input
      placeholder="Retirement Savings (Today)"
      (input)="onCurrentRetirementSavingsInputChange($event)"
      matInput
      [(ngModel)]="currentRetirementSavings"
    >
</mat-form-field>
<mat-form-field class="inputFormField" [floatPlaceholder]="always">
  <span matPrefix>$</span>
  <input
    placeholder="Retirement Contributions (Annual)"
    (input)="onRetirementContributionsInputChange($event)"
    matInput
    [(ngModel)]="retirementContributions"
  >
</mat-form-field>
<mat-form-field class="inputFormField" [floatPlaceholder]="always">
    <span matPrefix>$</span>
    <input
      placeholder="Expenses (Annual)"
      (input)="onExpensesInputChange($event)"
      matInput
      [(ngModel)]="expenses"
    >
</mat-form-field>

<div><h1>Assumptions</h1></div>
<mat-form-field class="inputFormField" [floatPlaceholder]="always">
  <input
    placeholder="Return on Investment (Annual)"
    (input)="onReturnOnInvestmentInputChange($event)"
    matInput
    [(ngModel)]="returnOnInvestment"
  >
  <span matSuffix>%</span>
</mat-form-field>
<mat-slider
  class="slider"
  (input)="onReturnOnInvestmentSliderChange($event)"
  thumbLabel
  [min]="returnOnInvestmentMin"
  [max]="returnOnInvestmentMax"
  [step]="returnOnInvestmentStep"
  [tickInterval]="returnOnInvestmentTickInterval"
  [value]="returnOnInvestment"
></mat-slider>
<mat-form-field class="inputFormField" [floatPlaceholder]="always">
  <input
    placeholder="Inflation (Annual)"
    (input)="onInflationInputChange($event)"
    matInput
    [(ngModel)]="inflation"
  >
  <span matSuffix>%</span>
</mat-form-field>

<div><h1>Outputs</h1></div>
<div>
  Money needed to retire: <strong> {{ moneyToRetireFormatted }} </strong>
</div>
<div>
  Years until retirement: <strong> {{ yearsToRetirementFormatted }} </strong>
</div>
<!-- <div>
  Your age at retirement: {{ ageAtRetirement}}
</div> -->
<!-- <div>

</div> -->