$indigo: #3F51B5;
$background-color: #e0e0e0;

.mat-toolbar {
  color: white;
  background-color: $indigo;
}

.spacer {
  background-color: $background-color;
  height: 20px;
}

.background {
  background-color: $background-color;
}

.background .mui-container {
  background-color: white;
}

.main-container {
  padding-bottom: 15px;
}

.floated-image {
  float: left;
  margin-right: 20px;
  padding-bottom: 20px;
}

h1, h2, h3, h4, .table {
  font-family: Roboto, "Helvetica Neue",sans-serif;
}

.share-buttons { 
  margin-top: 20px;
  margin-bottom: 0px;
}