<mat-toolbar>So you want to retire...</mat-toolbar>

<calculator></calculator>

<div class="share-buttons">

  <!-- Email -->
  <a
      href="mailto:?Subject=Simple Share Buttons&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 https://thbrown.github.io/retirement/"
  >
    <img src="https://simplesharebuttons.com/images/somacro/email.png" alt="Email">
  </a>

  <!-- Facebook -->
  <a
      href="http://www.facebook.com/sharer.php?u=https://thbrown.github.io/retirement/"
      target="_blank"
  >
    <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook">
  </a>

  <!-- Google+ -->
  <a href="https://plus.google.com/share?url=https://thbrown.github.io/retirement/" target="_blank">
    <img src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google">
  </a>

  <!-- LinkedIn -->
  <a
      href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://thbrown.github.io/retirement/"
      target="_blank"
  >
    <img src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn">
  </a>

  <!-- Pinterest -->
  <a
      href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());"
  >
    <img src="https://simplesharebuttons.com/images/somacro/pinterest.png" alt="Pinterest">
  </a>

  <!-- Print -->
  <a href="javascript:;" onclick="window.print()">
    <img src="https://simplesharebuttons.com/images/somacro/print.png" alt="Print">
  </a>

  <!-- Reddit -->
  <a
      href="http://reddit.com/submit?url=https://thbrown.github.io/retirement/&amp;title=Simple Share Buttons"
      target="_blank"
  >
    <img src="https://simplesharebuttons.com/images/somacro/reddit.png" alt="Reddit">
  </a>

  <!-- StumbleUpon -->
  <a
      href="http://www.stumbleupon.com/submit?url=https://thbrown.github.io/retirement/&amp;title=Simple Share Buttons"
      target="_blank"
  >
    <img src="https://simplesharebuttons.com/images/somacro/stumbleupon.png" alt="StumbleUpon">
  </a>

  <!-- Twitter -->
  <a
      href="https://twitter.com/share?url=https://thbrown.github.io/retirement/&amp;text=How%20Much%20Does%20%This%20Really%20Cost%3F&amp;hashtags=pizza"
      target="_blank"
  >
    <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter">
  </a>
</div>
