<mat-card>
  <mat-card-title>Inputs</mat-card-title>
  <div layout="row">
    <mat-form-field class="inputFormField" floatPlaceholder="always">
      <span matPrefix>$</span>
      <input
          placeholder="Retirement Savings (Today)"
          (input)="adjustSliderBounds('savings')"
          matInput
          type="number"
          [(ngModel)]="savings"
      >
    </mat-form-field>
    <mat-slider
        class="slider"
        (input)="onSliderChange($event)"
        [min]="savingsMin"
        [max]="savingsMax"
        [step]="savingsStep"
        [(ngModel)]="savings"
    ></mat-slider>
  </div>
  <div layout="row">
    <mat-form-field class="inputFormField" floatPlaceholder="always">
      <span matPrefix>$</span>
      <input
          placeholder="Retirement Contributions (Annual)"
          (input)="adjustSliderBounds('contributions')"
          matInput
          type="number"
          [(ngModel)]="contributions"
      >
    </mat-form-field>
    <mat-slider
        class="slider"
        (input)="onSliderChange($event)"
        [min]="contributionsMin"
        [max]="contributionsMax"
        [step]="contributionsStep"
        [(ngModel)]="contributions"
    ></mat-slider>
  </div>
  <div layout="row">
    <mat-form-field class="inputFormField" floatPlaceholder="always">
      <span matPrefix>$</span>
      <input
          placeholder="Expenses (Annual)"
          (input)="adjustSliderBounds('expenses')"
          matInput
          type="number"
          [(ngModel)]="expenses"
      >
    </mat-form-field>
    <mat-slider
        class="slider"
        (input)="onSliderChange($event)"
        [min]="expensesMin"
        [max]="expensesMax"
        [step]="expensesStep"
        [(ngModel)]="expenses"
    ></mat-slider>
  </div>
  <div layout="row">
    <mat-form-field class="inputFormField" floatPlaceholder="always">
      <input
          placeholder="Age (Today)"
          (input)="adjustSliderBounds('age')"
          matInput
          type="number"
          [(ngModel)]="age"
      >
    </mat-form-field>
    <mat-slider
        class="slider"
        (input)="onSliderChange($event)"
        thumbLabel
        [min]="ageMin"
        [max]="ageMax"
        [step]="ageStep"
        [(ngModel)]="age"
    ></mat-slider>
  </div>
  <div layout="row">
    <mat-form-field class="inputFormField" floatPlaceholder="always">
      <span matPrefix>$</span>
      <input
          placeholder="Cost of thing you want to buy today"
          (input)="adjustSliderBounds('cost')"
          matInput
          type="number"
          [(ngModel)]="cost"
      >
    </mat-form-field>
    <mat-slider
        class="slider"
        (input)="onSliderChange($event)"
        [min]="costMin"
        [max]="costMax"
        [step]="costStep"
        [(ngModel)]="cost"
    ></mat-slider>
  </div>
</mat-card>

<mat-card>
  <mat-card-title>Assumptions</mat-card-title>
  <div layout="row">
    <mat-form-field class="inputFormField" floatPlaceholder="always">
      <input
          placeholder="Return on Investment (Annual)"
          (input)="adjustSliderBounds('returnOnInvestment')"
          matInput
          type="number"
          [(ngModel)]="returnOnInvestment"
      >
      <span matSuffix>%</span>
    </mat-form-field>
    <mat-slider
        class="slider"
        (input)="onSliderChange($event)"
        thumbLabel
        [min]="returnOnInvestmentMin"
        [max]="returnOnInvestmentMax"
        [step]="returnOnInvestmentStep"
        [(ngModel)]="returnOnInvestment"
    ></mat-slider>
  </div>
  <div layout="row">
    <mat-form-field class="inputFormField" floatPlaceholder="always">
      <input
          placeholder="Inflation (Annual)"
          (input)="adjustSliderBounds('inflation')"
          matInput
          type="number"
          [(ngModel)]="inflation"
      >
      <span matSuffix>%</span>
    </mat-form-field>
    <mat-slider
        class="slider"
        (input)="onSliderChange($event)"
        thumbLabel
        [min]="inflationMin"
        [max]="inflationMax"
        [step]="inflationStep"
        [(ngModel)]="inflation"
    ></mat-slider>
  </div>
</mat-card>

<mat-card>
  <mat-card-title>Outputs</mat-card-title>
  <mat-card-content>
    <div class="content" fxLayout="row">
      <div>Money needed to retire:</div>
      <div>
        <strong>{{ moneyToRetire | currency:'USD':true:'4.0-0' }}</strong>
      </div>
    </div>
    <div layout="row">
      <div>Years until retirement:</div>
      <div>
        <strong>{{ yearsToRetirementFormatted }}</strong>
      </div>
    </div>
    <div layout="row">
      <div>Your age at retirement:</div>
      <div>
        <strong>{{ ageAtRetirement | number: '2.0-0' }}</strong>
      </div>
    </div>
    <div layout="row">
      <div>By spending {{ cost | currency:'USD':true:'1.0-2' }} today, you're delaying your retirement by:</div>
      <div>
        <strong>{{ retirementDiffString }}</strong>
      </div>
    </div>
  </mat-card-content>
</mat-card>
