<mat-accordion class="accordian" multi="true">
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title>Inputs</mat-panel-title>
      <mat-panel-description>Your $$$</mat-panel-description>
    </mat-expansion-panel-header>
    <div layout="row">
      <mat-form-field class="inputFormField" floatPlaceholder="always">
        <span matPrefix>$</span>
        <input
            placeholder="Cost of the Thing you Want to Buy Today"
            (input)="adjustSliderBounds('cost')"
            matInput
            type="number"
            [(ngModel)]="cost"
        >
      </mat-form-field>
      <mat-slider
          class="slider"
          (input)="onSliderChange()"
          [min]="costMin"
          [max]="costMax"
          [step]="costStep"
          [(ngModel)]="cost"
      ></mat-slider>
    </div>
    <div layout="row">
      <mat-form-field class="inputFormField" floatPlaceholder="always">
        <span class="invisible" matPrefix>_</span>
        <input
            placeholder="Age (Today)"
            (input)="adjustSliderBounds('age')"
            matInput
            type="number"
            [(ngModel)]="age"
        >
      </mat-form-field>
      <mat-slider
          class="slider"
          (input)="onSliderChange()"
          [min]="ageMin"
          [max]="ageMax"
          [step]="ageStep"
          [(ngModel)]="age"
      ></mat-slider>
    </div>
    <div layout="row">
      <mat-form-field class="inputFormField" floatPlaceholder="always">
        <span matPrefix>$</span>
        <input
            placeholder="Retirement Savings (Today)"
            (input)="adjustSliderBounds('savings')"
            matInput
            type="number"
            [(ngModel)]="savings"
        >
      </mat-form-field>
      <mat-slider
          class="slider"
          (input)="onSliderChange()"
          [min]="savingsMin"
          [max]="savingsMax"
          [step]="savingsStep"
          [(ngModel)]="savings"
      ></mat-slider>
    </div>

    <div layout="row">
      <mat-form-field class="inputFormField" floatPlaceholder="always">
        <span matPrefix>$</span>
        <input
            placeholder="Expenses (Annual)"
            (input)="adjustSliderBounds('expenses')"
            matInput
            type="number"
            [(ngModel)]="expenses"
        >
      </mat-form-field>
      <mat-slider
          class="slider"
          (input)="onSliderChange()"
          [min]="expensesMin"
          [max]="expensesMax"
          [step]="expensesStep"
          [(ngModel)]="expenses"
      ></mat-slider>
    </div>
    <div layout="row">
      <mat-form-field class="inputFormField" floatPlaceholder="always">
        <span matPrefix>$</span>
        <input
            placeholder="Retirement Contributions (Annual)"
            (input)="adjustSliderBounds('contributions')"
            matInput
            type="number"
            [(ngModel)]="contributions"
        >
      </mat-form-field>
      <mat-slider
          class="slider"
          (input)="onSliderChange()"
          [min]="contributionsMin"
          [max]="contributionsMax"
          [step]="contributionsStep"
          [(ngModel)]="contributions"
      ></mat-slider>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Assumptions</mat-panel-title>
      <mat-panel-description>Things that affect the outputs</mat-panel-description>
    </mat-expansion-panel-header>
    <div layout="row">
      <mat-form-field class="inputFormField" floatPlaceholder="always">
        <input
            placeholder="Return on Investment (Annual)"
            (input)="adjustSliderBounds('returnOnInvestment')"
            matInput
            type="number"
            [(ngModel)]="returnOnInvestment"
        >
        <span matSuffix>%</span>
      </mat-form-field>
      <mat-slider
          class="slider"
          (input)="onSliderChange()"
          [min]="returnOnInvestmentMin"
          [max]="returnOnInvestmentMax"
          [step]="returnOnInvestmentStep"
          [(ngModel)]="returnOnInvestment"
      ></mat-slider>
    </div>
    <div layout="row">
      <mat-form-field class="inputFormField" floatPlaceholder="always">
        <input
            placeholder="Inflation (Annual)"
            (input)="adjustSliderBounds('inflation')"
            matInput
            type="number"
            [(ngModel)]="inflation"
        >
        <span matSuffix>%</span>
      </mat-form-field>
      <mat-slider
          class="slider"
          (input)="onSliderChange()"
          thumbLabel
          [min]="inflationMin"
          [max]="inflationMax"
          [step]="inflationStep"
          [(ngModel)]="inflation"
      ></mat-slider>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title>Outputs</mat-panel-title>
      <mat-panel-description>Your retirement prognosis</mat-panel-description>
    </mat-expansion-panel-header>
    <div>
      <div class="output-row">
        <div class="output-label">$$$ needed to retire</div>
        <div class="output-value">{{ moneyToRetire | currency:'USD':true:'4.0-0' }}</div>
      </div>
      <div class="output-row">
        <div class="output-label">Years until retirement</div>
        <div class="output-value">{{ yearsToRetirementFormatted }}</div>
      </div>
      <div class="output-row">
        <div class="output-label">Your age at retirement</div>
        <div class="output-value">{{ ageAtRetirementFormatted }}</div>
      </div>
    </div>
    <div>
      <div class="retirement-delay">
        By spending {{ cost | currency:'USD':true:'1.0-2' }} today, you're delaying your retirement
        by:
      </div>
      <div>
        <strong>{{ retirementDiffString }}</strong>
      </div>
    </div>
    <div class="warning" [hidden]="isNetRateValid()">
      <mat-icon class="warning-icon">warning</mat-icon>
      <div>
        With your chosen assumptions, you'll never be able to acquire enough wealth to live
        completely off interest from your investments in retirement. You may still be able to retire
        by rationing your savings over your remaining life expectancy.
        <!-- TODO: Make this happen. -->
        <!-- We'll calculate these values for you, but realize this is not the kind of -->
        <!-- retirement this calculator is set up for. -->
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
