.accordion .mat-expansion-panel-header-title,
.accordion .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.accordion .mat-expansion-panel-header-title {
  font-size: 18px;
  font-weight: 500;
}

.accordion .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.slider {
  width: 300px;
}

.output-row {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between */
}

.output-label {
  margin-right: 20px;
  width: 200px;
}

.retirement-delay {
  margin-top: 20px;
}

.inputFormField { 
  font-size: 16px;
  margin-right: 40px;
  width: 250px;
}

.invisible {
  visibility: hidden;
}

.warning-icon {
  margin-right: 20px;
}

.warning {
  align-items: center;
  color: #F44336;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
